/*setting up the mobile display of the site */
@media all and (max-width: 320px) {
   body {
    background-color: #1F0F00;
    } /*set the background color */
    
    a:link {color:#1F0F00;}
    
    a:visited {color:#CC3300;}
    /*set link behavior*/
    
    #navbar {
        position: fixed;
        height: ;
        
    }
    
    /*setting up the display of the navigation bar*/
    #home {
      background-color: #FF9900;
      width:100px;
      
      border:2px solid #993300;
    
      text-align:center;
      font-family: sans-serif;
    
      color: #1F0F00;
    
      width:55px;
      height:96px;
      
       }
       
   #home:hover {
       background-color: #CC6600;
      }
    
   #port    {
      background-color: #FF9900;
      width:100px;
      
      border:2px solid #993300;
    
      text-align:center;
      font-family: sans-serif;
      
      color: #1F0F00;
    
      width:55px;
      height:96px;
      
      }
    
   #port:hover {
      background-color: #CC6600;
      }
    
   #con  {
      background-color: #FF9900;
      width:100px;
      
      border:2px solid #993300;
    
      text-align:center;
      font-family: sans-serif;
      
      color: #1F0F00;
    
      width:55px;
      height:96px;
      
      }
    
   #con:hover {
      background-color: #CC6600;
      }
    
   #bio { 
      background-color: #FF9900;
      width:100px;
      
      border:2px solid #993300;
    
      text-align:center;
      font-family: sans-serif;
      
      color: #1F0F00;
    
      width:55px;
      height:96px;
      
      }
    
   #bio:hover {
      background-color: #CC6600;
      }
      
   #blog { 
      background-color: #FF9900;
      width:100px;
      
      border:2px solid #993300;
    
      text-align:center;
      font-family: sans-serif;
      
      color: #1F0F00;
    
      width:55px;
      height:96px;
      
      }
    
   #blog:hover {
      background-color: #CC6600;
      }
      
   #header {
      background-color: #FF9900;
      border:2px solid #993300;
      padding: 2px;
      width: 265px;
      height: 144px;
      float: right;
   }  
   
   #content {
      background-color: #FF9900;
      border:2px solid #993300;
      padding: 2px;
      width: 265px;
      height: 336px;
      float: right;
   }
    
}

/*setting up the desktop version of the site */
@media (min-width: 320px) {
    body {
    background-color: #1F0F00;   
    } /*set the background color */
    
    a:link {color:#1F0F00;}
    
    a:visited {color:#CC3300;}
     /*set link behavior*/
   #navbar {
      width: 600px;
      position:relative;
      left: 60px;
    }
    
    #home {
      background-color: #FF9900;
      width:100px;
      padding:2px;
      border:2px solid #993300;
    
      text-align:center;
      font-family: sans-serif;
      
      color: #1F0F00;
      float: left;
      width:110px;
      height:50px;
      margin:5px;
      }
    
   #home:hover {
      background-color: #CC6600;
      }
    
   #port    {
      background-color: #FF9900;
      width:100px;
      padding:2px;
      border:2px solid #993300;
    
      text-align:center;
      font-family: sans-serif;
      
      color: #1F0F00;
      float: left;
      width:110px;
      height:50px;
      margin:5px;
      }
    
   #port:hover {
      background-color: #CC6600;
      }
    
   #con  {
      background-color: #FF9900;
      width:100px;
      padding:2px;
      border:2px solid #993300;
    
      text-align:center;
      font-family: sans-serif;
      
      color: #1F0F00;
      float: left;
      width:110px;
      height:50px;
      margin:5px;
      }
    
   #con:hover {
      background-color: #CC6600;
      }
    
   #bio { 
      background-color: #FF9900;
      width:100px;
      padding:2px;
      border:2px solid #993300;
    
      text-align:center;
      font-family: sans-serif;
      
      color: #1F0F00;
      float: left;
      width:110px;
      height:50px;
      margin:5px;
      }
    
   #bio:hover {
      background-color: #CC6600;
      }
      
   #blog { 
      background-color: #FF9900;
      width:100px;
      padding:2px;
      border:2px solid #993300;
    
      text-align:center;
      font-family: sans-serif;
      
      color: #1F0F00;
      float: left;
      width:110px;
      height:50px;
      margin:5px;
      }
    
   #blog:hover {
      background-color: #CC6600;
      }   
    
}

